.idea/.name
.idea/encodings.xml
.idea/front-road.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/yfui.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
